{% extends "base.html" %}

{% block head %}
{{ super() }}
| Index</title>
{% endblock %}

{% block body %}
    {{ super() }}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h1 data-aos="fade-right" data-aos-duration="1000">This is MySpoti</h1>
                            {% if signed_in %}
                                <h5> Welcome to MySpoti enjoy your Spotify stats</h5>
                                <a href="{{ url_for('home') }}" class="btn btn-secondary">View your stats</a>
                            {% else %}
                                <h5> Welcome to MySpoti please sign in to view your Spotify stats</h5>
                                <a href="{{ url_for('home') }}" class="btn btn-secondary">Sign in with Spotify</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}