<div class="wrapper">
    <nav id="sidebar" class="px-4">
        <a href="/">
            <h2 class="pt-4 text-center" 
            style="color: #FEF9DA;">
                <i class="fas fa-music"></i> MySpoti
            </h2>
        </a>
        <ul class="list-unstyled">
            <li><a href="{{ url_for("home") }}">Home</a></li>
            <li>
            <li class="dropdown"><a class="dropdown-toggle" data-bs-toggle="collapse" aria-expanded="false" href="#sidebar-menu">Reports</a></li>
            <ul id="sidebar-menu" class="collapse list-unstyled px-4">
                <li><a href="{{ url_for("top_tracks") }}"><i></i> Top Tracks</a></li>
                <li><a href="{{ url_for("top_artists") }}"><i></i> Top Artists</a></li>
                <li><a href="{{ url_for("recently_played") }}"><i></i> Recently Played</a></li>
            </ul>
            </li>
        </ul>
        <ul class="list-unstyled">
            <li class="py-2"><a class="btn btn-secondary" href="{{ url_for("home") }}">Sign in</a></li>
            <li class="py-2"><a class="btn btn-primary" href="{{ url_for("sign_out") }}">Sign out</a></li>
        </ul>
    </nav>
    <div id="content">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button id="sidebarCollapse" class="navbar-btn active" type="button">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                
                <div class="d-flex justify-content-center align-items-center">
                    <a href="/" class="nav-link">
                        <h2 class="mb-0" style="color: #FEF9DA;"><i class="fas fa-music"></i> MySpoti</h2>
                    </a>
                </div>
            </div>
        </nav>
