.flip_container {
    cursor: pointer;
    perspective: 1000px;
    /* height: auto;
    display: flex;
    flex-direction: column; */
}

.flip_container:hover .flip {
    transform: rotateY(180deg);
}

.flip {
    transition: 0.75s;
    transform-style: preserve-3d;
    /* height: auto; */
}

.flip_front,
.flip_back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: center; /* Add this line */
}

.flip_front {
    transform: rotateY(0deg);
}

.flip_back {
    transform: rotateY(180deg);
}