.flip_container {
    cursor: pointer;
    perspective: 1000px;
    /* height: auto;
    display: flex;
    flex-direction: column; */
}

.flip_container:hover .flip {
    transform: rotateY(180deg);
}

.flip {
    transition: 0.75s;
    transform-style: preserve-3d;
    /* height: auto; */
}

.flip_front,
.flip_back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: center; /* Add this line */
}

.flip_front {
    transform: rotateY(0deg);
}

.flip_back {
    transform: rotateY(180deg);
}

.card {
    background-color: #241318;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: var(--bs-color);
}

.table   {
    --bs-table-bg: #241318;
    --bs-table-color: var(--bs-color);
    --bs-table-hover-bg: #1A0A0F;
    --bs-table-hover-color: var(--bs-color);
}

h2 {
    color: #D5A7AF;
}